.dark-mode {
    background-color: darken($grisOscuro, 10);

    p {
        color: $blanco;
    }
    a, h1, h2, h3, h4  {
        color: $gris;
    }

    .anuncio {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
        margin-bottom: 2rem;

        .precio {
            color: $verde;
        }
    }
    .resumen-propiedad {
        .precio {
            color: $verde;
        }
    }

    .icono {
        filter: invert(100%);
    }

    .texto-nosotros blockquote {
        color: $blanco;
    }

    .formulario {
        label, 
        legend,
        p {
            color: $gris;
        }

        input:not([type="submit"]), 
        textarea,
        select {
            background-color: $grisOscuro;
            border: 1px solid $grisOscuro;
            color: $blanco;
        }
    }

    table.propiedades {
        margin-top: 4rem;
        width: 100%;
        border-spacing: 0;

        td {
            color: $blanco;
        }
    
        thead {
            background-color: $verde;
             
            th {
                color: $blanco;
                padding: 2rem;
            }

        }
    
        .imagen-tabla {
            width: 10rem;
        }
    }

    table.vendedores {
        margin-top: 4rem;
        width: 100%;
        border-spacing: 0;

        td {
            color: $blanco;
        }
    
        thead {
            background-color: $amarillo;
             
            th {
                color: $blanco;
                padding: 2rem;
            }

        }
    }
}